footer{
  background: $vinho-escuro;
  width: 100%;
  bottom: 0;
  left: 0;

  @include mq ("phone-wide",min) {
    position: absolute;
    height: 175px;
    padding: 30px 0;
  }

  @include mq ("phone-wide",max) {
    padding-bottom: 60px;
  }

  .icon-rota{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    padding: 5px;
    background: #fff;
    text-align: center;
    margin: 5px 10px;
  }

  a{
    color: #fff;
    text-decoration: none;
  }
}