header{
   .linha-sup{
    background: $vinho-escuro;
    padding: 5px 0;


    a{
        color: $amarelo;
        text-decoration: none;
    }
   }

   #nav-icon2 {

    @include mq ("phone-wide",min) {
        display: none;
    }
   }

   .menu-mobile {
    @include mq ("phone-wide",max) {
        display: flex;
    flex-direction: row-reverse;

    }
   }

   .linha-inf{
        background: $vinho-claro;
        padding: 15px 0;

        #menu{

            @include mq ("phone-wide", min) {
                ul{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    gap: 15px;

                    li{
                        list-style: none;
                        a{
                            color: #fff;
                            text-decoration: none;
                            //display: inline-block;
                            padding: 5px 10px;
                            border-radius: 4px;

                            &:hover{
                                background: $amarelo;
                                color: $vinho-escuro;
                            }
                        }
                    }
                }
            }
            
            @include mq ("phone-wide", max) {

                position: fixed;
                width: 100%;
                height: 100%;
                background: $vinho-escuro;
                right: -100%;
                top: 120px;

                ul{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    gap: 15px;
                    margin-top: 50px;

                    li{
                        list-style: none;
                        a{
                            font-size: 20px;
                            color: #fff;
                            text-decoration: none;
                            //display: inline-block;
                            padding: 5px 10px;
                            border-radius: 4px;
                        }
                    }
                }
            } 
        }

        .contato{
            float: right;
            display: inline-block;
            background: $amarelo url(../img/whats.svg);
            background-repeat: no-repeat;
            color: $vinho-escuro;
            text-decoration: none;
            border-radius: 4px;
            padding: 10px 20px;
            border: 1px solid transparent;
            background-position: 15px 10px;
            padding-left: 45px;

            @include mq ("phone-wide",max) {
                position: fixed;
                bottom: 20px;
                right: 20px;
            }

            &:hover{
                background: $vinho-claro url(../img/whats-hover.svg) ;
                border: 1px solid $amarelo;
                color: $amarelo;
                background-repeat: no-repeat;
                background-position: 15px 10px;
            }
        }
   }
}