#quem-somos{
    color: $vinho-escuro;
    padding: 50px 0;
    .container{
        padding-bottom: 50px;
        border-bottom: 1px solid $vinho-escuro;
    }
    h2{
        color: $vinho-escuro;
        margin-bottom: 40px;
    }
}